<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Cool work!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
            Sesión
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/login">Cerrar sesión</a>
            <a class="dropdown-item" href="/editUser/{{usuario.identificacion_usuario}}">Ver perfil</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>
                        Editar Perfil
                    </h3>
                </div>
                <div class="card-body">
                    <form action="/editUser/{{usuario.identificacion_usuario}}" method="POST">
                        <div class="form-group">
                            <input type="text" value={{usuario.identificacion_usuario}} name="identificacion_usuario" placeholder="Identificación de usuario" class="form-control" readonly="readonly"/>
                        </div>

                        <div class="form-group">
                            <input type="text" value={{usuario.nombre_usuario}} name="nombre_usuario" placeholder="Nombre del usuario" class="form-control" autofocus/>
                        </div>

                        <div class="form-group">
                            <input type="password" value={{usuario.password}} name="password" placeholder="Contraseña" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <input type="number" value={{usuario.telefono_usuario}} name="telefono_usuario" placeholder="Teléfono" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <input type="text" value={{usuario.codigo_residencia_usuario}} name="codigo_residencia_usuario" placeholder="Código postal" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <input type="date" value={{usuario.fecha_nacimiento_usuario}} name="fecha_nacimiento_usuario" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <p class="text-left">Genero:</p>
                            <select name="codigo_sexo_usuario" class="form-control">
                                <option disabled>1 para Masculino, 2 para femenino</option>
                                <option>1</option>
                                <option>2</option>                                
                            </select>
                        </div>

                        <button class="btn btn-primary btn-block">
                            Editar
                        </button>

                        <form action="/Volver/{{usuario.identificacion_usuario}}" method="GET">
                            <button class="btn btn-primary btn-block">
                                Volver
                            </button>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>