<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Cool work!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
            Sesi贸n
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/login">Cerrar sesi贸n</a>
            <a class="dropdown-item" href="/editUser/{{registrosUsuario.identificacion_servicio_usuario}}">Ver perfil</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <br />
                <div class="mx-auto">
                    <img src="/images/trabajo-en-equipo.png" alt="img_cool_work" style="height: 5rem;">
                </div>
                <div class="card-body">
                    <form action="/links/edit/{{registrosUsuario.identificacion_registro}}" method="POST">                
                        <div class="form-group">
                            <input type="text" value="{{registrosUsuario.nombre_servicio}}" class="form-control" name="nombre_servicio"
                                placeholder="Nombre de registro" />
                        </div>

                        <div class="form-group">
                            <input type="text" value="{{registrosUsuario.identificacion_servicio_usuario}}" class="form-control" name="identificacion_servicio_usuario"
                                placeholder="Identificaci贸n del usuario" />
                        </div>

                        <div class="form-group">
                            <select name="codigo_servicio_categoria" class="form-control">
                                <option disabled>Categoria del servicio</option>
                                <option>psicologia</option>
                                <option>desarrollo web</option>
                                <option>abogado</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <textarea name="descripcion_servicio" rows="3" class="form-control"
                                placeholder="Descripci贸n del servicio">{{registrosUsuario.descripcion_servicio}}</textarea>
                        </div>

                        <button class="btn btn-primary btn-block">
                            Guardar
                        </button>
                    </form>

                    <br/>

                    <form action="/registros/{{registrosUsuario.identificacion_servicio_usuario}}" method="GET">
                        <button class="btn btn-primary btn-block">
                            Volver
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>