<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a class="navbar-brand" href="/">Foro Estudiantil</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-expanded="false">
                            Sesión
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/">Página principal</a>
                            <a class="dropdown-item" href="/login">Iniciar sesión</a>
                            <a class="dropdown-item" href="/signup">Registrarse</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  
</header>

<div class="container p-4">
    <div class="row">
        {{#each usuario}}
        <div class="col-md-4" style="margin-top: 10px;">
            <div class="card">
                <div class="card-body mx-auto">
                    <p href="" class="text-center" target="_blank">
                        <h3 class="card-title text-uppercase" style="color: black;">
                            {{nombreUsuario}}
                        </h3>
                    </p>

                    <form action="/buscarHilos/{{identificacionUsuario}}" method="GET">
                        <h6>Identificación del usuario:</h6>
                        <div class="form-group">
                            <input type="text" value={{identificacionUsuario}} name="identificacionUsuario"
                                placeholder="Identificación de usuario" class="form-control" readonly="readonly" />
                        </div>

                        <h6>Rol en la universidad:</h6>
                        <div class="form-group">
                            <input type="text" value={{rolUniversidad}} name="rolUniversidad"
                                placeholder="rol Universidad" class="form-control" readonly="readonly" />
                        </div>
                        {{!--
                        <p class="text-center">
                            {{timeago created_at}}
                        </p>
                        --}}
                        <button class="btn btn-success btn-block button-link">
                            Ver registros
                        </button>
                    </form>

                    <div class="text-center" style="margin-top: 10px;">
                        <a href="/searchUser">Volver</a>
                    </div>
                </div>
            </div>
        </div>

        {{else}}

        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay links guardados</p>
            </div>

            {{/each}}
        </div>
    </div>